<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" href="./css/main.css">
    <title>Win The Game</title>
</head>
<body>
    <h1 class="hidden">Win The Game</h1>
    <main id="app">

    <header class="">
        <div class="ham-menu">
            <i class="fas fa-bars" @click="showMobileMenu()"></i>
        </div>
        <div class="sidebar" v-if="sideBar">
            <h2 class="hidden"></h2>
            <div class="nav-content">
                <img src="/images/logo_red.jpg" alt="">
                <ul>
                    <li><a href="#storySecMain">Manifesto</a></li>
                    <li><a href="#petition">Petition</a></li>
                    <li><a href="#campaign">Campaigns</a></li>
                    <li><a href="#resources">Resources</a></li>
                </ul>
                <div class="social-icons">
                    <a href="#" target="_blank"><i class="fab fa-facebook"></i> </a>
                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <p>&copy; Win The Game 2023. All rights reserved.</p>
                </div>
            </div>
            </div>
    </header>


    <div id="heroVideo">
        <video src="/video/title_update.mp4" autoplay="1" playsinline muted></video>
        <div id="heroButt">
            <a href="#video">Watch Documentary</a>
            <a href="#storySecMain">Read Manifesto</a>
            <a href="#petition">Sign Petition</a>
        </div>
    </div>
      

    <!-- Hero Video -->
    <div>
        <div class="video-container" id="video">
            <video controls class="video" poster="/images/videoThumb.png">
                <source src="/video/Presentation.mp4" type="video/mp4">
            </video>
        </div>
    </div>

    <!-- The story section -->
    <section id="storySecMain">
        <div class="story-text" id="showMenu">
            <h2>Manifesto</h2>
           
            <manip v-for="para in maniPara" :para="para"></manip>

            <div id="manoStat">
                <div class="statBlock">
                    <h4>Two In Ten</h4>
                    <p>households have a child that plays hockey across the country</p>
                </div>
                <div class="statBlock">
                    <h4>60%</h4>
                    <p>of the population believe that the sport contains sexist, racist, and abuse issues</p>
                </div>
            </div>
        </div>
        
        <!-- petition -->
        <div id="petition">
            <div id="petitionHeader">                
                <h2>Join The Game</h2>
                <p>Simply sign your name to help raise awareness of the match against bully in Hockey, and find your name in the petitions</p>
            </div>
            <div id="petitionForm">
                <form v-if="showForm">
                    <div>
                        <input type="text" v-model="name" placeholder="Enter Your Name">
                        <p>Will</p>
                    </div>
                    <p>Win The Game</p>
                    <button @click="formSubmitted">Submit</button>
                </form>
                <div v-if="submitted" class="formSub">
                    <p>{{ name }}, thank you for signing the petition.<br>Let's win together.</p>
                    <div class="share-icons">
                        <a href="#" target="_blank"><i class="fab fa-facebook"></i> </a>
                        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-loop-scroll">
            <li v-for="name in petitionDataNew" :name="name">{{ name.petitioner }}</li>
        </div>




        <div id="campaign" class="story-text">
            <h2>Campaigns</h2>
            <div>
               
                <campcom v-for="block in campaignData" :block="block"></campcom>


                <div class="campaignBlock" id="minidoc">
                    <div class="campaignContain" @click="openVideo">
                        <div class="campaBG" style="background-image: url(/images/minidoc.png)"></div>
                        
                        <div class="campaignHeading">
                            <h3>WinTheGame Mini Documentary</h3>
                            <p>A mini documentary for the insight and first hand accounts</p>
                        </div>
                    </div>
                    <div class="collapse">
                        <!-- <iframe style="width: 100%; height: 45vw;" src="https://youtu.be/eduEsqQMH7c" title="Atmospheric Background Music" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
                        <iframe style="width: 100%; height: 45vw;" src="https://www.youtube.com/embed/eduEsqQMH7c" title="Hockey-Doc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            
            </div>
        </div>
    
        <!-- Resources -->
        <div id="resources" class="story-text">
            <h2>Resources</h2>
            <div>
                <a href="https://cdn.hockeycanada.ca/hockey-canada/Hockey-Programs/Safety/Safety-Program/Downloads/discipline-and-complaints-policy-e.pdf"><img src="images/hockey_canada.jpg" alt="hocket canada logo"><p>Hockey Canada Discipline & Complaints Policy</p></a>
                <a href="https://www.prevnet.ca/resources/teaching-resources-to-prevent-identity-based-bullying"><img src="images/prevnet.png" alt="Prev Net logo"><p>Teaching Resources to Prevent Identity-Based Bullying</p></a>
                <a href="https://www.ofsaa.on.ca/osn-launches-the-officials-program-no-ref-no-game/"><img src="images/noref.png" alt="No Ref No Game logo"><p>No Ref, No Game</p></a>
            </div>
        </div>
    </main>



  





</main>
<footer>

</footer>
  
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://kit.fontawesome.com/07199f6f37.js" crossorigin="anonymous"></script>
<script src="js/main.js" type="module" defer></script>
</html>