#campaign {
    color: $main-grey;

    .campaignBlock {
        background-color: $second-blue;
        cursor: pointer;
        .campaignContain {
            transition: all 0.5s ease;
            display: grid;
            grid-template-columns: 1fr 2fr;
            height: 280px;
            overflow: hidden;
            //column-gap: 20px;
            .campaignHeading {
                transition: all 0.5s ease;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 50px;
                padding-right: 50px;
                text-align: left;
                font-family: "BienLight";
                font-size: 1rem;
                
                h3 {
                    font-size: 2rem;
                    font-family: "BienSemiBold";
                    margin-bottom: 0.5rem;
                }
            }
            .campaBG {
                background-image: url(/images/campaign.png);
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        .collapse {
            display: none;
            animation: expandIn 0.6s forwards ease;
        }

        .carousel-inner {
            background-color: $main-black;
        }
    }

    .campaignBlock:nth-child(even) {
        background-color: $main-red;
        .campaignContain {
            background-size: 60%;
            background-position: 100% 20%;
            grid-template-columns: 2fr 1fr;
            .campaignHeading {
                //margin-left: 50px;
                text-align: right;
                grid-column: 1 / span 1;
                grid-row: 1/ span 1;
            }
            .campaBG {
                grid-column: 2 / span 1;
                grid-row: inherit;

            }
        }
    }

    .campaignOpen.campaignBlock {
        .campaignContain {
            grid-template-columns: 0fr 1fr;
        }

        .collapse {
            display: block;
        }

    }
    .campaignOpen.campaignBlock:nth-child(even)  {
        .campaignContain {
            grid-template-columns: 1fr 0fr;
        }
    }


    .carouselOver {
        img {
            max-height: 90vh !important;
            margin-right: auto;
            margin-left: auto;
            object-fit: contain;
        }

        .adDesc {
            padding:30px 50px;
            //background-color: $second-blue;
            p {
                font-size: 1.5rem;
                font-family: "BienReg";
                text-align: end;
                border-top: 0.5px $main-grey solid;
                padding-top: 20px;
            }
        }
    }





    @include desktop {
        margin-top: 1rem;

        .campaignBlock {
            .campaignContain {
                display: grid;
                grid-template-columns: 5fr 6fr;
                grid-template-rows: 1fr;
                height: 280px;
                overflow: hidden;
                //column-gap: 20px;
                .campaignHeading {
                    h3 {
                        font-size: 3em;
                    }
                    .campaBG {
                        background-image: url(/images/campaign.png);
                        background-position: center center;
                        background-size: 110%;
                        background-repeat: no-repeat;
                    }
                }
            }

            &:hover {
                div {
                    grid-template-columns: 4fr 6fr;
                }
            }
        }

        .campaignBlock:nth-child(even) {
            .campaignContain {
                grid-template-columns: 6fr 5fr;

            }

            &:hover {
                div {
                    grid-template-columns: 6fr 4fr;
                }
            }
        }

        .campaignOpen.campaignBlock {
            .campaignContain {
                grid-template-columns: 0fr 1fr;
            }

            .collapse {
                display: block;
            }

        }
        .campaignOpen.campaignBlock:nth-child(even)  {
            .campaignContain {
                grid-template-columns: 1fr 0fr;
            }
        }

    }
}

@keyframes expandIn {
    from {opacity: 0;}
    to {opacity: 1;}
}