@font-face {
    font-family: "BienBlack";
    src: url("/font/BiennaleBlack.otf");
}
@font-face {
    font-family: "BienBold";
    src: url("/font/BiennaleBold.otf");
}
@font-face {
    font-family: "BienBook";
    src: url("/font/BiennaleBook.otf");
}
@font-face {
    font-family: "BienHeavy";
    src: url("/font/BiennaleHeavy.otf");
}
@font-face {
    font-family: "BienLight";
    src: url("/font/BiennaleLight.otf");
}
@font-face {
    font-family: "BienMed";
    src: url("/font/BiennaleMedium.otf");
}
@font-face {
    font-family: "BienReg";
    src: url("/font/BiennaleRegular.otf");
}
@font-face {
    font-family: "BienSemiBold";
    src: url("/font/BiennaleSemiBold.otf");
}
@font-face {
    font-family: "BienUltraLight";
    src: url("/font/BiennaleUltraLight.otf");
}
