// #heroSec {
//     height: 100vh;
//     background-color: $main-black;
// }

#heroVideo {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: black;
    justify-content: center;
    flex-direction: column;
    video {
        //object-fit: cover;
        width: 100%;
        //height: 100%;
        // margin-left: auto;
        // margin-right: auto;
    }
    #heroButt {
        justify-content: center;
        //margin-top: -35vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2vw;
        padding: 0 5vw;
        margin-top: 2rem;
        //transform: translateY(-350px);
        
        button,a {
            text-decoration: none;
            text-align: center;
            border: 1px white solid;
            border-radius: 5px;
            background: none;
            padding: 0.7rem 0;
            font-family: 'BienSemiBold', sans-serif;
            text-transform: uppercase;
            color: white;
            font-size: 0.7rem;
            transition: 0.3s ease all;
            animation: fadeIn 0.8s ease forwards 2s;
            opacity: 0;
        
            &:hover {
                background: white;
                color: black;
    
            }
        }
    
    }

    @include tablet {
        #heroButt {
            margin-top: 0vw;
            padding: 0 10vw;
            button,a {
                font-size: 0.9rem;
            }
        }
    }


    @include desktop {
        display: block;
    

        video {
            width: 100%;
            height: 80%;
        }

        #heroButt {
            //margin-top: -150px;
            grid-column-gap: 4vw;
            padding: 0 20vw;
            //transform: translateY(-350px);
            
            button,a {
                text-decoration: none;
                text-align: center;
                border: 1px white solid;
                background: none;
                padding: 1.2rem 0;
                font-family: 'BienSemiBold', sans-serif;
                text-transform: uppercase;
                color: white;
                font-size: 1.2rem;
            
                &:hover {
                    background: white;
                    color: black;
        
                }
            }
        }        
    }
}

@keyframes fadeIn {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    70% {
        transform: translateY(-5px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}