.ham-menu {
    position: fixed;
    bottom: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    i {
        border-radius: 50%;
        //bottom: 5%;
        //left: 43%;
        overflow: hidden;
        padding: 1em;
        color: $main-grey;
        background-color: $main-black;
        cursor: pointer;
    }
    @include desktop {
        display: none !important;
    }
}

.sidebar {
    background-color: $main-grey;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    //width: 18vw;
    //min-height: 100%;
    //overflow: hidden;
    z-index: 99;
    //margin-top: 4em;

    .nav-content {
        width: 18vw;
        img {
            width: 100%;
        }
    }
    
    ul li{
        list-style:none;
        padding: 20px;
    }
    
    ul li a{
        color: inherit;
        font-family: 'BienBold', sans-serif;
        display:block;
        padding:20px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.7em;

        &:after {
            content: '';
            display: block;
            height: 0.3em;
            background-color: $main-red;
            width: 2em;
            margin-top: 1em;
        }
    }

    &:active {
        transition: opacity 2s ease-in 2s;
    }

    
    @include desktop {
        display: block;
    }
}

.sidebar.visible {
    display: block;
}

