.ham-menu {
    position: fixed;
    bottom: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
    i {
        border-radius: 50%;
        //bottom: 5%;
        //left: 43%;
        overflow: hidden;
        padding: 1em;
        color: $main-grey;
        background-color: $main-black;
        cursor: pointer;
    }
    @include desktop {
        display: none !important;
    }
}

.sidebar {
    background-color: $main-grey;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    //width: 18vw;
    //min-height: 100%;
    //overflow: hidden;
    z-index: 99;
    //margin-top: 4em;

    .nav-content {
        width: 100vw;
        background-color: $main-black;
        img {
            height: 15vh;
        }
    }
    
    ul li{
        list-style:none;
        padding: 20px;
        background-color: $main-grey;
    }
    
    ul li a{
        color: inherit;
        font-family: 'BienBold', sans-serif;
        display:block;
        padding:20px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 2.2em;

        &:after {
            content: '';
            display: block;
            height: 0.3em;
            background-color: $main-red;
            width: 2em;
            margin-top: 1em;
        }
    }

    ul li.active a {
        color: red;
      }

    &:active {
        transition: opacity 2s ease-in 2s;
    }

    
    @include desktop {
        display: block;
        top: 0;        
        .nav-content {
            animation: floatIn 0.5s ease forwards;
            width: 18vw;
            img {
                width: 100%;
            }

            ul {
                background-color: rgb(82, 82, 82);
            }
        }
        
        ul li a{
            font-size: 1.7em;
        }
    }
}



.sidebar.visible {
    display: block;
}

@keyframes floatIn {
    from {transform: translateX(-18vw);}
    to {transform: translateX(0vw);}
}
