#resources {
    margin-bottom: 5rem;
    margin-top:5rem;
    div {
        display: flex;
        justify-content: space-between;
        a {
            //box-shadow: 8px 8px 0px rgba(161, 161, 161, 0.525);
            width: 32%;
            display: flex;
            flex-direction: column;
            //justify-content: space-between;
            background-color:white;

            img {
                height: 10rem;
                object-fit: contain;
            }

            &:hover {
                text-decoration: none;
                p {
                    padding-top: 2.5rem;
                    padding-bottom: 2.5rem;
                }
            }

            p {
                font-family: 'BienSemi', sans-serif;
                color: $main-grey;
                text-align: center;
                background-color: $main-black;
                padding: 1.5rem;
                transition: all 0.3s ease;

            }
        }
    }

    @include desktop {
        margin-top: 10rem;
        div {
            a {
                img {
                    height: 15rem;
                }
            }
        }
    }
}