.video-container {
    width: 100vw; 
    .video {
        width: 100%;
    }
}

#storySecMain {
    margin-top: 3em;

    .story-text {
        h2 {
            font-family: 'BienBold', sans-serif;
            text-transform: uppercase;
            font-size: 3em;
            color: $main-grey;
            background-color: $main-black;
            padding:30px 30px;
        }

        .manoItem {
            padding:50px 30px;
            font-family: 'BienMed', sans-serif;
            border-bottom: 1px black solid;

            h3 {
                font-size: 1.2em;
                line-height: 1.5em;
            }
            .manoExt {
                font-size: 1.1em;
                margin-top: 1em;
                margin-bottom: 1em;
                line-height: 1.5em;
                display: none;
            }

            .expandIn {
                display: block;
                animation: expandIn 2s ease forwards;
            }

            .readmoreCtn {
                font-family: 'BienBold', sans-serif;
                display: flex;
                justify-content: end;
                align-items: center;
                margin-top: 20px;
                cursor: pointer;
                i {
                    color: $main-red;
                    font-size: 1.6em;
                    margin-left: 0.5em;
                }
            }
        }

        #manoStat {
            //display: block;
            display: flex;
            margin-top: 80px;
            justify-content: space-between;
            column-gap: 20px;

            .statBlock {
                color: $main-grey;
                background-color: $second-blue;
                padding: 1.9rem;
                font-size: 0.9rem;
                width: 50%;
                //margin: 0 30px 1rem;
                h4 {
                    font-size: 3rem;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    font-family: 'BienBold', sans-serif;
                    
                }
            }
        }
    }
    


    @include tablet {
        padding: 0 3em;
        .story-text {
            #manoStat {
                display: flex;
    
                .statBlock {
                    width: 100%;
                }
            }
        }
    }  

    @include desktop {
        margin-top: 5em;
        margin-left: 18vw;
        padding: 0 5em;
    
            .story-text {
                h2 {
                    font-size: 4em;
                    padding:30px 50px;
                }
    
                .manoItem {
                    padding:50px 50px;
                    h3 {
                        font-size: 1.4em;
                    }
                    .manoExt {
                        font-size: 1.2em;
                    }
                }
    
                #manoStat {
                    display: flex;
                    column-gap: 30px;
    
                    .statBlock {
                        font-size: 1.1rem;
                        h4 {
                            font-size: 3.5rem;
                        }
                    }
                }
            }
        }
    }


@keyframes expandIn {
    from {transform: scaleY(0);}
    to {transform: scaleY(1);}
}

.fa-chevron-down.rotate{
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}